---
const { frontmatter, remarkPluginFrontmatter } = Astro.props;
import GenericLayout from "../layouts/GenericLayout.astro";
import { convertDateFormat } from "../lib/helper";
import { ArrowLeft, Clock, Calendar, CircleUser } from '@lucide/astro';
---

<GenericLayout
    title={frontmatter.title}
    description={frontmatter.description}
    ogImage={frontmatter.heroImage}
>
    <main class="container max-w-4xl mx-auto px-4 py-8">
        <div class="mb-8">
            <a
                href="/blog"
                class="inline-flex items-center text-sm text-muted-foreground hover:text-primary"
            >
                <ArrowLeft class="mr-2 h-4 w-4" />
                Back to all posts
            </a>
        </div>

        <article>
            <div class="space-y-4">
                <h1 class="text-4xl font-bold tracking-tight">
                    {frontmatter.title}
                </h1>
                <div class="flex items-center space-x-2">
                    <CircleUser class="h-6 w-6 text-muted-foreground" />
                    <div>
                        <p class="text-sm font-medium">{frontmatter.author}</p>
                    </div>
                </div>
                <div
                    class="flex items-center space-x-4 text-sm text-muted-foreground"
                >
                    <span class="inline-flex items-center">
                        <Calendar class="mr-1 h-4 w-4" />
                        {convertDateFormat(frontmatter.pubDate)}
                    </span>
                    <span class="inline-flex items-center">
                        <Clock class="mr-1 h-4 w-4" />
                        {remarkPluginFrontmatter.minutesRead}
                    </span>
                </div>

                <!-- Tags -->
                <div class="flex space-x-2">
                    {
                        frontmatter.keywords.map((keyword: string) => {
                            return (
                                <div class="bg-slate-800 text-white px-2 border rounded-full">
                                    {keyword}
                                </div>
                            );
                        })
                    }
                </div>

                <!-- Main data -->
                <div class="prose dark:prose-invert prose-headings:underline max-w-none w-full">
                    <slot />
                </div>
            </div>
        </article>
    </main>
</GenericLayout>
